# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VisualStudio
*.suo
*.sln
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
*.user
.vs/
Debug/

# Other
*.bin
*.elf
*.ld
*.map
*.log
*.cache

bmptk_fixed_size_stack.c
_cc_flags
_linker_flags

Test/