# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VisualStudio
*.suo
*.sln
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
*.user
.vs/
Debug/

# Other
*.bin
*.elf
*.ld
*.map
*.log
*.cache

bmptk_fixed_size_stack.c
_cc_flags
_linker_flags

Test/
Project/_cpp_flags




.clang
.codelite/
.codelite/*.*
_codelite.project
_codelite.session
__codelite.workspace
~$*.docx
.project
*.hex
*.lss
*.pdf
*.html
_dummy.jpg
bmptk_*_stack.c
_push.bat
*.tlog
_*
*.idb
*.pdb
*.ipch
*.VC.*